// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background-color: rgb(38, 42, 46);
}
.position-absolute{
    top: -10px !important;
    border-radius: 0 !important;
    padding: 8px 30px 8px 30px;
}
